@font-face {
    font-family: Roboto;
    src: url(./Fonts/Roboto-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body {
    margin: 0 auto;
}
.dash-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
}
.navigation {
    background-color: rgb(5, 144, 209);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 70px);
    justify-items: center;
}
.navigation div {
    width: 80%;
}
.nav-head {
    grid-row: 1 / 2;
    font-size: 1.4rem;
}
.nav-main {
    grid-row: 3 / 8;
    margin-top: -20px;
}
.nav-admin {
    grid-row: 8 / 11;
    margin-top: -90px;
}
.nav-main, .nav-admin {
    font-size: 1.2rem;
    font-weight: 600;
}
.projects-container {
    grid-column: 2 / 3;
    background-color: white;
    display: grid;
    grid-template-rows: 130px 1fr;
    grid-row: 1 / 2;
} 
.header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}
.head-nav {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}
.search-bar {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 20px 1fr 120px;
    justify-items: center;
}
.notification-bar {
    grid-column: 2 / 3;
    display: grid;
    place-items: center;
    gap: 25px;
    width: 80%;
    font-weight: bold;
    font-size: 1.12rem;
    grid-template-columns: 30px 30px 1fr;
}
#search {
    width: 80%;
    border-radius: 5px;
    border-color: rgb(210, 225, 228);
    background-color: rgb(210, 225, 228);
    height: 20px;
    border: none;
}
.head-tools {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: space-between;
    padding-bottom: 13px;
}
.intro {
    grid-column: 1 / 2;
    display: grid;
    place-items: start center;
    gap: 20px;
    grid-template-columns: 40px 1fr;
}
.intro-text {
    grid-column: 2 / 3;
}
.intro-text p {
    font-weight: 700;
}
.project-tools {
    grid-column: 2 / 3;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(3, 90px);
    justify-items: end;
    gap: 20px;
    margin-left: 230px;
}
.project-tools button {
    width: 90px;
    color: white;
    background-color: rgb(5, 144, 209);
    height: 30px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    justify-self: end;
}
.project-tools button:first-child {
    margin-left: 100px;
}
.main-container {
    grid-row: 2 / 6;
    background-color: rgb(210, 225, 228);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: -10px;
}
.projects-view {
    grid-column: 1 / 7;
    margin-left: 35px;
    grid-row: 1 / 2;
}
.must-check-info {
    grid-column: 7 / 10;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-right: 35px;
    grid-row: 1 / 2;
}
.announcements {
    grid-row: 1 / 2;
}
.trending {
    grid-row: 2 / 3;
    margin-top: -20px;
}
.announcements h3,
 .trending h3,
 .projects-view h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1rem;
}
.news-card {
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 5px;
    border-radius: 5px;
    justify-items: center;
}
.trends-card {
    display: grid;
    background-color: white;
    grid-template-rows: repeat(4, 1fr);
    padding: 5px;
    border-radius: 5px;
    align-items: space-evenly;
}
.news {
    margin: 10px auto;
    width: 90%;
    font-size: 14px;
}
.news h4 {
    margin-bottom: 5px;
}
.news p {
    margin-bottom: 15px;    
}
.news:nth-of-type(1), .news:nth-of-type(2) {
    border-bottom: 1px solid rgb(210, 225, 228);
}
.trends {
    width: 90%;
    margin-top: 5px;
    margin-left: auto;
    display: grid;
    grid-template-columns: 55px 1fr;
    grid-template-rows: 65px;
    gap: 20px;
    align-items: center;

}
.trends-text p:first-child {
    font-weight: 750;
    font-size: 0.78rem;
    margin-bottom: 4px;
}
.trends-text p:last-child {
    font-weight: 200;
    font-size: 0.98rem;
}

.projects-cage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 195px);
    margin-left: 15px;
    gap: 25px;
    margin-right: 25px;
    border-radius: 5px;
    justify-items: center;
}
.projects-view h3 {
    margin-left: 25px;
}
.project-card {
    background-color: white;
    border-radius: 5px;
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
    border-left: 8px solid #f59e0b;
}
.project-card h4 {
    margin-bottom: 15px;
    font-size: 15px;
}

/*Assets styles*/
.nav-head img {
    width: 50px;
    height: 50px;
}
.nav-main img, .nav-admin img {
    width: 35px;
    height: 30px;
}
.nav-head {
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-items: start;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}
.nav-main div, .nav-admin div {
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 20px;
    justify-items: start;
    align-items: center;
    row-gap: 15px;
    margin-bottom: 10px;
}
.search-bar img {
    height: 20px;
    width: 20px;
    margin-left: 120px;
} 
.notification-bar img:first-child {
    width: 30px;
    height: 20px;
}
.notification-bar img:nth-child(2){
    width: 40px;
    height: 35px;
}
.intro img {
    width: 70px;
    height: 60px;
    margin-left: 220px;
    grid-column: 1 / 2;
}
.project-icons {
    display: grid;
    grid-template-columns: 1fr repeat(3, 20px);
    margin-top: 25px;
    gap: 20px;
}
.project-icons img {
    height: 20px;
    width: 20px;
}
.project-icons img:first-child {
    grid-column: 2 / 3;
}
.project-icons img:nth-child(2) {
    grid-column: 3 / 4;
}
.project-icons img:last-child {
    grid-column: 4 / 5;
}

.last-one {
    padding-bottom: 10px;
}
.navigation img {
    filter: invert(100%);
}
.trends img {
    width: 55px;
    height: 65px;
}